:root {
    --primary-font-color: #54f35b;
    --font-color-hover: #340632;
    --primary-background-color: #ae14a7;
    --secondary-bakground-color: #7A0E75;
    --image-hover-color: #340632;

}