@font-face {
    font-family: baskerville;
    src: url(../assets/fonts/Baskervville-Regular.ttf);
}
@font-face {
    font-family: ChakraPetch;
    src: url(../assets/fonts/ChakraPetch-Regular.ttf);
}

 /* styling background */
main {
    background-color: var(--secondary-bakground-color);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: fle;
    padding: 3rem;
}
.back-button {
    margin-top: 20px;
    font-family: ChakraPetch;
    font-size: 1.25rem;
    color: var(--primary-font-color);
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
    visibility: hidden;
}
.back-button:hover {
    background-color: var(--image-hover-color);
    transition: color 0.3s linear;
}
.cart__header {
    font-family: ChakraPetch;
    font-size: 2.188rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
}

.cart__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-bottom-style: double;
    border-color: var(--primary-font-color);
    border-width: 3px;
}
.cart__item img {
    width: 200px;
    height: auto;
}
.cart__item-details {
    flex: 1;
    padding-left: 20px;
    font-family: baskerville;
    font-size: 1.125rem;
    color: var(--primary-font-color);
}
.cart__total {
    margin-top: 10px;
    font-family: ChakraPetch;
    font-size: 1.125rem;
    color: var(--primary-font-color);
}
.checkout__btn {
    margin-top: 20px;
    font-family: ChakraPetch;
    font-size: 1.25rem;
    color: var(--primary-font-color);
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    border: none;
    cursor: pointer;
}
.checkout__btn:hover {
    background-color: var(--image-hover-color);
    transition: color 0.3s linear;
}
.cart__empty {
    text-align: center;
    font-size: 18px;
    color: var(--primary-font-color);
    font-family: baskerville;
    padding: 1rem;
}
.cart__item-quantity{
    width: 2.5rem;
    background-color: var(--primary-background-color);
    border: none;
    color: var(--primary-font-color);
}
.remove-item__btn {
    margin-top: 12rem;
    display: flex;
    font-family: ChakraPetch;
    font-size: 1rem;
    color: var(--primary-font-color);
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    border: none;
    cursor: pointer;
}
.remove-item__btn:hover {
    background-color: var(--image-hover-color);
    transition: color 0.3s linear;
}

@media screen and (max-width: 636px) {
    .back-button {
        visibility: visible;
    }
}
