@font-face {
    font-family: baskerville;
    src: url(../assets/fonts/Baskervville-Regular.ttf);
}
@font-face {
    font-family: ChakraPetch;
    src: url(../assets/fonts/ChakraPetch-Regular.ttf);
}

 /* styling background */
main {
    background-color: var(--secondary-bakground-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.cart__header {
    font-family: ChakraPetch;
    font-size: 2.188rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-bottom-style: double;
    border-color: var(--primary-font-color);
    border-width: 3px;
}
.cart-item img {
    width: 200px;
    height: auto;
}
.cart-item-details {
    flex: 1;
    padding-left: 20px;
    font-family: baskerville;
    font-size: 1.125rem;
    color: var(--primary-font-color);
}
.cart-total {
    margin-top: 10px;
    font-family: ChakraPetch;
    font-size: 1.125rem;
    color: var(--primary-font-color);
}
.checkout-btn {
    margin-top: 20px;
    font-family: ChakraPetch;
    font-size: 1.25rem;
    color: var(--primary-font-color);
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    border: none;
    cursor: pointer;
}
.checkout-btn:hover {
    background-color: var(--image-hover-color);
    transition: color 0.3s linear;
}
.cart-empty {
    text-align: center;
    font-size: 18px;
    color: var(--primary-font-color);
    font-family: baskerville;
    padding: 1rem;
}
.cart-item-quantity{
    width: 2.5rem;
    background-color: var(--primary-background-color);
    border: none;
    color: var(--primary-font-color);
}
.remove-item-btn {
    margin-top: 12rem;
    display: flex;
    font-family: ChakraPetch;
    font-size: 1rem;
    color: var(--primary-font-color);
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    border: none;
    cursor: pointer;
}
.remove-item-btn:hover {
    background-color: var(--image-hover-color);
    transition: color 0.3s linear;
}


